*{
  margin:0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Tapeside';
  src:  url('../fonts/tapeside.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/tapeside.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Dopis';
  src:  url('../fonts/Dopis-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Dopis-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Dopis';
  src:  url('../fonts/Dopis-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Dopis-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}
@font-face {
  font-family: 'Dopis';
  src:  url('../fonts/Dopis-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Dopis-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: lighter;
}
@font-face {
  font-family: 'Trend';
  src:  url('../fonts/Trend_HM_Sans_Shadow.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Trend_HM_Sans_Shadow.ttf')  format('truetype'); /* Safari, Android, iOS */
}

:root {
    --title-font: 'Tapeside', sans-serif;
    --copy-font: 'Dopis', Arial, sans-serif;
    --main-accent: #5E8EAF;
    --secondary-accent: #F3DA02;
    --body-color: #F9F8F7;
    font-size: calc(1vw + 0.6rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

h1 {
    font-size: 2.5rem;
}

p, li {
    font-family: var(--copy-font);
}

strong {
    font-weight: bold;
}

/* Grid Setup */

.bodyframe {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    background: var(--body-color);

}


/*  Navigation Styles */

header {
    grid-row: 1;
    position: relative;
    padding: 1% 4%;
    text-align: center;
}

header img {
    width: 70%;
}

 .nav-toggle {
    display: none;
}


.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    padding-top: 8%;
    height: 100%;
    display: flex;
    align-items: flex-start;

}

.nav-toggle-label img {
    transition: all 300ms ease-in-out;
    transform: rotate(45deg);
    width: 15%;
}

.nav-toggle-label.shift img {
    transform: rotate(-45deg);
}

.nav-toggle:checked ~ nav {
    transform: scaleY(1);
}

nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: var(--body-color);
    transform: scaleY(0);
    transform-origin: top;
    text-align: left;
    transition: all 200ms ease-in-out;
}

nav ul {
    text-align: center;
    opacity: 0;
    transition: all 200ms ease-in-out 200ms;

}

.nav-toggle:checked ~ nav ul {
    opacity: 1;
}

nav li {
    text-transform: uppercase;
    margin: 3rem 0;
    cursor: pointer;
    font-size: 1.75rem;
}




/* Hero Image Styles */

.hero {
    grid-row: 2;
    background: url('../images/bandanadog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;

}



/* Welcome Section Styles */

.welcome {
    grid-row: 3;
    padding: 15% 10%;
    line-height: 1.75;
    position: relative;
    padding-bottom: 40vh;
}

.welcome img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}


/* Services Styles */

.services {
    grid-row: 4;
    background-image: url(../images/pawbgblue2.svg);
    background-size: cover;
	background-position: center;
    padding: 0% 5% 0% 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.services .container {
    margin: 0 auto;
    padding-top: 1rem;
}
.accordion dl {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.accordion dt {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.accordion dd, .accordion__panel {
	background: rgba(255, 255, 255, 0.5);
	font-size: 1em;
	line-height: 1.5em;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.accordion dd > div {
	padding: 1em 2em 1em 2em;
}
.accordion dd img{
    width: 100%;

    box-shadow: 1px 1px 3px 0px var(--main-accent);
}
.accordion dd button{
    outline: none;
    background: var(--main-accent);
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    float: right;
    margin: 1rem 0;
    border-radius: 2px;
    cursor: pointer;
}
.accordion li {
    margin: 5px 0 5px 15px;
    position: relative;
}
.accordion li::before {
    position: absolute;
    content: "";
    display: block;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -5%;
    top: 25%;
}
.accordion {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.accordionTitle {
    position: relative;
    color: yellow;
    text-decoration: none;
    font-family: var(--title-font);
    font-size: 2rem;
    transition: background-color 0.5s ease-in-out;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 10%;
    grid-template-rows: 100px;
    align-items: center;
    margin-bottom: 1rem;
    width: 75vw;
}

.accordionTitle span {
    grid-column: 2;
    position: relative;
    grid-row: 1;
}
.accordionTitle img {
    grid-column: 1;
    grid-row: 1;
    border: 3px solid white;
    width: 60px;
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    background: rgba(225, 255, 255, 0.5);
    transition: transform 0.4s ease-in-out;
    box-shadow: 1px 0px 10px 3px rgba(0, 0, 0, 0.2);
}
.accordionTitle .js-accordionTrigger img.is-expanded{
	transform: rotate(-225deg);
}
.accordionItem {
	height: auto;
	overflow: hidden;
	max-height: 50em;
	transition: max-height 1s;
}

@media screen and (min-width: 48em) {
	.accordionItem {
		max-height: 15em;
		transition: max-height 0.5s;
	}
}
.accordionItem.is-collapsed {
	max-height: 0;
}
.no-js .accordionItem.is-collapsed {
	max-height: auto;
}
.animateIn {
	animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
	animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
	0% {
		opacity: 0;
		transform: scale(0.9) rotateX(-60deg);
		transform-origin: 50% 0;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes accordionOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.9) rotateX(-60deg);
	}
}

/* Gallery Styles */

.gallery {
    grid-row: 5;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 15% 5% 10% 5%;
    margin-bottom: 5rem;
    overflow-x: hidden;

}

.gallery h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
    color: #5E8EAF;
    margin-bottom: 2rem;
}

/* Our wrapper */
.wrapper{
  width: calc(80vw);
  height: calc(80vw);
  position: relative;
  float: left;
  overflow:hidden;
  margin-bottom: 1rem;
}

/* Our image information */
.before,
.after {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
}

.content-image{
  height:100%;
}

.after{
  width:125px;
}

.scroller{
  width: 50px;
  height:50px;
  position: absolute;
  left:100px;
  top:50%;
  transform:translateY(-50%);
  border-radius:50%;
  background-color: transparent;
  opacity:0.9;
  pointer-events:auto;
  cursor: pointer;
}

.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
  // z-index: 1;
}

.scroller__thumb{
  width:100%;
  height:100%;
  padding:5px;
}

.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 5px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
}
.scroller:before{
  top:100%;
}
.scroller:after{
  bottom:100%;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller{
  border: 5px solid #fff;
}
.scroller:before,
.scroller:after{
  background: #fff;
}


/* Footer Styles  */

footer {
    grid-row: 6;
    background-image: url('../images/pawbgblue2.svg');
    background-size: cover;
	background-position: center;
    /* padding: 10%; */
    /* display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.f-contentwrap {
    padding: 10%;
    padding-bottom: 0;
    grid-row: 1;
    display: flex;
    flex-flow: column;
    color: white;

}

.f-contentwrap div {
    margin: 0.75rem 0;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    line-height: 1.5;
    font-family: 'Dopis', Arial, sans-serif;
}

.f-contentwrap div p {
    color: #F9FF00;
    font-weight: bold;

}

.f-contentwrap div p span {
    font-weight: lighter;
    grid-column: 2;
    color: #E8E8E8;
}

#copyright {
    grid-row: 2;
    padding: 0 10%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 30.1em) and (max-width: 61.99em) and (orientation : landscape) {
    header {
        text-align: left;
    }
    header img {
        width: 25%;
    }
    nav {
        position: unset;
        display: inline;
        transform: scaleY(1);
        text-align: left;
        transition: none;
    }
    nav ul {
        text-align: left;
        opacity: 1;
        transition: none;
    }
    nav li {
        cursor: pointer;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 1rem;
        display: inline-block;
        margin: unset;
        text-transform: none;
        margin-right: 1.5rem;
    }
    .nav-toggle-label {
        display: none;
    }
}
